# Build outputs
build/
fyne-cross/
heimdall-listener
heimdall-listener.tar.xz

# Fyne specific
*.syso
fyne-cross.yml
Icon.png

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE specific (common ones)
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Go workspace file
go.work
go.work.sum

# env file
.env

# Build Script
build.sh
